a.rel{
  margin: 1em 10em;
  display: block;
  float: left;
  text-decoration: none;
  color: black;
}

a.rel:active{
  background-color: lightgray;
  border: none;
}

a.rel:hover {
  background-color: lightblue;
  border: none;
}

img{
  object-fit: cover; /* обрезка картинки */
  float: left;
  width: 17em;
  height: 10em;
  margin-right: 1em;
}

#footer{
  clear: left;
}
