.relevants{
  display: flex;
  flex-direction:row;
  align-items: stretch;
  justify-content: center;
  margin: 2em 6em;
}

a.rel {
  opacity: 0.7;
}

a.rel:active{
  background-color: lightgray;
}

a.rel:hover {
  background-color: lightblue;
  opacity: 1.0;
}

.box{
  display: inline-table;
  color: black;
  text-align: left;
  font-size: 1em;
  width: 17em;
  height: 10em;
  padding: 1.5em;
}

img {
  object-fit: cover; /* обрезка картинки */
  width: inherit;
  height: inherit;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.box p{
  text-align: justify;
}

 #main{
   border-radius: 5px;
 }
