.relevants{
  display: flex;
  flex-direction:row;
  align-items: stretch;
  justify-content: center;
  margin: 2em 6em;
  /* padding: 2em; */
}

a.rel{
  /* width: 20em; */
  /* height: 15em; */
}

a.rel:active{
  background-color: lightgray;
  border: none;
}

a.rel:hover {
  background-color: lightblue;
  border: none;
}

.box{
  display: inline-table;
  color: black;
  text-align: left;
  font-size: 1em;
  width: 17em;
  height: 10em;
  padding: 1.5em;
}

img {
  object-fit: cover; /* обрезка картинки */
  width: inherit;
  height: inherit;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.box p{
  /* margin: 1em; */
  text-align: justify;
}

 #main{
   /* padding: 0.5em 1.5em; */
 }
